html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    line-height: 1.45;
    letter-spacing: 1px;
}

a, .header {
    color: #37c;
    text-decoration: none;
}

a:hover, .header:hover {
    color: rgb(88, 153, 233);
    text-decoration: none;
}