.jumbotron-class {
    background-color: transparent;
    background-image: #FF4E50;
    /* fallback for old browsers */
    background-image: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right, #F9D423, #FF4E50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron-class {
    color: white;
}

.jumbotron-header h4 p em, .jumbotron-title h1 p {
    font-size: 130%;
}

hr{
    background: white;
    height: 2px;
    width: 80px;
    margin: 0 10px;
}